@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: "Vend Sans";
  src: url("/fonts/VendSans-VariableFont_wght.ttf") format("truetype"); /* Adjust your formats as needed */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Vend Sans";
  src: url("/fonts/VendSans-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: normal; /* Adjust this if the italic version has a specific weight */
  font-style: italic;
}

.hover-text-color:hover {
  color: #ffc107;
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #0a0a0a;
    --background: #ededed;
  }
  /* :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  } */
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: "Vend Sans", sans-serif;
}
